<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style/home.css" type="text/css">

</head>

<body>
    <section class="main-section">
        <div class="main">
            <div class="nav" id="nav">
                <div class="nav-left">Nick</div>
                <div class="nav-right">
                    <ol>
                        <li>
                            <a href="#">Home</a>
                        </li>
                        <li>
                            <a href="#">About</a>
                        </li>
                        <li>
                            <a href="#">Projects</a>
                        </li>
                        <li>
                            <a href="#">Cotact Me</a>
                        </li>
                        <li>
                            <a style="color: black;" href="#">HireMe</a>
                        </li>
                    </ol>
                </div>
            </div>
            <!-- home page start here -->
            <div class="home">

                <div class="img-info">
                    <div>
                        <h2>Welcome !</h2>
                    </div>
                    <div><img src="/asset/WhatsApp_Image_2024-01-08_at_15.18.34_9c515a03-removebg-preview.png"></div>
                    <div class="name">
                        <p>Nitesh Yadav</p>
                    </div>
                </div>


                <div class="proff">
                    <div class="static-text">I Am </div>
                    <ul class="ani">
                        <li><span>Software developer</span></li>
                        <li><span>MERN Developer</span></li>
                        <li><span>front-end developer</span></li>
                        <li><span>Backend Developer</span></li>
                    </ul>
                </div>

                <div class="socail-pro">
                    <div class="github"><a href="#">
                            <img src="/asset/icons8-github-48.png">
                        </a>
                    </div>
                    <div class="linkdin"><a href="#">
                            <img style=" background-color: white;" src="/asset/linked2.png">
                        </a>
                    </div>
                    <div class="github"><a href="#">
                            <img src="/asset/icons8-level-up-your-coding-skills-and-quickly-land-a-job-24.png">
                        </a>
                    </div>
                </div>
            </div>
            <div class="about">
                <div class="about-upper">
                    <h2>Skills</h2>
                </div>
                <div class="about-page">
                    <div class="about-1 skill">

                        <img src="/asset/javaScript.png" alt="rect">
                        <h3>JavaScript</h3>
                        <ul>
                            <li>JavaScript is a powerful ,flexible and fastprogramming language</li>
                            <br>
                            <li>JavaScript powers the dynamic behavior on websites</li>
                        </ul>
                        <br>
                        <h4>Some my Project in JavaScript</h4>
                        <ol>
                            <li><a href="#">StopWatch</a></li>
                            <li><a href="#">DrumKit</a></li>
                            <li><a href="#">Calculator</a></li>
                            <li><a href="#">Age Calculator</a></li>
                        </ol>
                    </div>
                    <div class="about-2 skill">

                        <img src="/asset/node.png" alt="rect">
                        <h3>NodeJs</h3>
                        <ul>
                            <li><span
                                    style="color: rgb(202, 13, 101); font-weight: bold ; font-size: 20px;">=></span>Node.js
                                is a JavaScriptruntime
                                built on Chrome'sV8 JavaScript engine.
                            </li>
                            <br>
                            <li><span
                                    style="color: rgb(202, 13, 101); font-weight: bold ; font-size: 20px;">=></span>Node.js
                                operateson a single-threaded , non-blocking I/O model, making itvery efficient to build
                                scalable ,performance-critical applications suchasreal-time applications ,microservices
                                ,and APIs.It use sanevent loop mechanism that allows the server to
                                handle multiple client requests concurrently without deadlocking the mainthread</li>
                        </ul>
                        <br>
                        <h4>Using Node In projects</h4>
                        <ol>
                            <li>Creating Routing</li>
                            <li>Creat Api</li>
                            <li>Using Postman</li>
                            <li>Set Up Server</li>
                        </ol>
                    </div>
                    <div class="about-3 skill">

                        <img src="/asset/icons8-express-js-48.png" alt="ExpressJs">
                        <h3>ExpressJs</h3>
                        <ul>
                            <li><span
                                    style="color: rgb(202, 13, 101); font-weight: bold ; font-size: 20px;">=></span>Expres.js
                                is a web framework for Node.js , a popular platform for building server-side application
                                using Javascript.
                            </li>
                            <br>
                            <li><span
                                    style="color: rgb(202, 13, 101); font-weight: bold ; font-size: 20px;">=></span>Express
                                is a back end web application framework for bulding RESTful APIs with Node.js </li>
                        </ul>
                    </div>
                    <div class="about-4 skill">

                        <img src="/asset/icons8-react-100.png" alt="rect">
                        <h3>ReactJs</h3>
                        <ul>
                            <li><span style="color: rgb(202, 13, 101); font-weight: bold ; font-size: 20px;">=></span>
                                ReactJs is a Javasct library for creating interactive and fast user interfaces.
                            </li>
                            <br>
                            <li><span style="color: rgb(202, 13, 101); font-weight: bold ; font-size: 20px;">=></span>
                                ReactJs is used to make SPA (single page application)</li>
                            <br>
                            <li><span style="color: rgb(202, 13, 101); font-weight: bold ; font-size: 20px;">=></span>
                                ReactJs is used to craete Reusable Components</li>

                        </ul>
                        <br>
                        <h4>Some my projects in ReactJs</h4>
                        <ul>
                            <li><a href="#">Todo Application</a></li>
                            <li><a href="#">weather Application</a></li>
                            <li><a href="#">Recipe Appliaction</a></li>
                        </ul>

                    </div>
                    <div class="about-5 skill">

                        <img src="/asset/mongo.png" alt="mongo">
                        <h3>MongoDB</h3>
                        <ul>
                            <li style="color: rgb(202, 13, 101);   font-size: 20px; text-align: left;">=>
                                MongoDB is a popular NoSQL database that is used for storing and managing large
                                anount of data unlike traditional relational database , mongodb store data in a
                                document-oriented way , which
                                means the data is stored as json-like documents

                            </li>
                        </ul>
                    </div>
                    <div class="about-6 skill">

                        <img src="/asset/icons8-github-48.png" alt="git">
                        <h2>Git</h2>
                        <ul>
                            <li
                                style="color: rgb(202, 13, 101); font-weight: bold ; font-size: 20px; text-align: left;">
                                =>GitHub is a web-based version control and collaboration platform for software
                                developers.</li>
                            <br>
                            <li> I use github to push and upload of my all fiels </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- projects section  -->
            <div class="projects">
                <div class="project-info">
                    <h2>Project</h2>
                </div>
                <div class="project-div">
                    <div class="project project-1">
                        <a style="text-decoration: none;" href="#">
                            <h3>Quiz Application</h3>
                            <img src="">
                            <ul>
                                <li>
                                    Using Html , CSS and bootstrap for home page layout .
                                </li>
                                <br>
                                <li>
                                    Using javaScript to get user-name and allow to choose their favorite subject
                                    dymanically.
                                </li>
                                <br>
                                <li>
                                    Array , ForLoop and Object used for get Quiz quesitions and listining or getting
                                    user activity .
                                </li>
                                <br>
                                <li>
                                    At the end showing result with username ,score and how much time take
                                </li>
                            </ul>
                        </a>
                    </div>
                    <div class="project project-2">
                        <a style="text-decoration: none;" href="#">
                            <p>Full Stack Todo</p>
                            <ul>
                                <li>using ejs template for page layout.</li>
                                <br>
                                <li>
                                    Store the data in MongoDB and making Schema .
                                </li>
                                <br>
                                <li>
                                    Using Array map method to display data.
                                </li>
                                <br>
                                <li>
                                    Showing list by fetching from MongoDB and Perform crud opration by ID of data.
                                </li>
                            </ul>
                        </a>
                    </div>

                    <div class="project project-3">
                        
                        
                    </div>
                    <div class="project project-4">
                        <p>Airbnb Clone</p>
                    </div>
                    <div class="project project-5">
                        <p>Job Portal Application</p>
                    </div>
                    <div class="project project-6">
                        <p>Quora Clone</p>
                    </div>
                </div>
            </div>
            <!-- about section -->
        </div>
        <div class="whats-logo">
            <a href="https://wa.me/918839768937" target="_blank">
                <img class="whats-img" src="/asset/whats.jpeg" alt="whats-logo">
            </a>
        </div>
    </section>
    <script src="/js/index.js">

    </script>

</body>

</html>